@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Lato");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
li,
a {
  color: #000;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.8em !important;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
}

h2 {
  font-size: 1.2em;
}

p,
div {
  color: #000;
  font-family: "Lato", sans-serif;
}

.btn {
  margin: 20px 20px 20px 0;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background: none;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  color: #000;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  background: #000;
}

/* ==========================
 * COVER
 * ========================== */
#cover {
  width: auto;
  display: grid;
  grid-template-rows: 400px 250px;
  grid-template-columns: 1fr 1fr;
}

#img-div {
  grid-row: 1 / -1;
  align-self: center;
  justify-self: center;
}

#image {
  width: 100%;
  max-width: 100%;
  display: block;
}

#img-caption {
  text-align: center;
  color: #6d6d6d;
}

#c-quote {
  padding: 50px;
  text-align: center;
  align-self: center;
}

#c-quote > .fa-quote-left {
  float: left;
  font-size: 5em;
  color: #d2d2d2;
}

#c-quote > h1 {
  font-weight: 400;
}

#c-headline {
  padding: 15px;
}

#c-headline > h1 > b {
  font-size: 1.3em;
}

#c-headline > h2 {
  margin: 8px 0;
}

.bd-year {
  font-size: 15px;
  color: #6d6d6d;
}

/* ==========================
 * CONTENT
 * ========================== */
#content {
  display: grid;
  grid-template-columns: 2fr 300px 1fr 1fr 3fr 1fr;
  grid-template-rows: 20px 550px repeat(3, 100px) 600px;
  grid-gap: 200px 10px;
}

#content > div:not(#bg-item) {
  z-index: 10;
}

/* BACKGROUND DESIGNS */
#bg-item {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

#bg-item * {
  color: #d4d4d4;
}

#bg-vline {
  position: relative;
  left: 250px;
  width: 10px;
  height: 100%;
  border-right: 2px solid #d4d4d4;
}

#bg-name {
  position: absolute;
  left: -330px;
  top: 2000px;
  font-size: 200px;
  white-space: nowrap;
  transform: rotate(-90deg);
}

#bg-x {
  position: absolute;
  font-size: 100px;
  top: 1400px;
  left: 234px;
}

/* COVER - ABOUT - FIRST ROW */
#about-menu {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 250px;
  align-self: center;
  padding-left: 50px;
}

.a-tabs {
  list-style: none;
}

.a-tabs > li {
  transform: rotate(-1deg);
  margin: 20px 0;
}

.a-tabs a {
  color: #000;
  cursor: default;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1.1;
  overflow-wrap: break-word;
}

.a-tabs a:hover,
.a-tabs a:focus,
.a-tabs a:active {
  color: #3b3baf;
}

#about-content {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
}

#about-content > div {
  width: 650px;
  height: 550px;
  position: absolute;
  background: #fff;
}

.tab-current {
  z-index: 1;
}

/* Tab Panel Contents */
.tab-item {
  margin: 30px 0;
  font-weight: 400;
  font-size: 2em;
}

.tab-item a {
  text-decoration: none;
  color: #3b3baf;
}

.tab-content {
  padding-left: 20px;
  font-size: 30px;
}

/* COVER - TITLE - SECOND - FOURTH ROW */
#title-entrepreneur {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
}

#title-designer {
  grid-row: 4 / 5;
  grid-column: 4 / 6;
}

#title-inventor {
  grid-row: 5 / 6;
  grid-column: 2 / 6;
  padding-left: 150px;
}

.title-jobs {
  font-size: 60px;
}

#title-inv-desc {
  margin-top: -180px;
  grid-row: 6 / 7;
  grid-column: 3 / 6;
}

#title-inv-desc > p {
  font-size: 30px;
}

/* ==========================
 * TIMELINE
 * ========================== */
#timeline {
  display: grid;
  grid-template-columns: 2.1fr 8fr 1fr 1fr;
  grid-gap: 30px 10px;
}

.a-item {
  display: grid;
  grid-template-columns: 40px 5fr 3fr;
  grid-gap: 50px 10px;
  grid-column: 2 / 4;
}

.atab-num,
.atab-title {
  font-weight: 400;
  font-size: 30px;
}

.t-vline {
  grid-column: 1 / 2;
  width: 50%;
  margin: -20px 0;
  border-right: 2px solid #d4d4d4;
}

.accordion input[name="panel"],
.atab-content,
.t-vline {
  display: none;
}

.atab-title {
  grid-column: 2 / 3;
  padding-top: 3px;
  cursor: pointer;
}

.accordion input:hover ~ .atab-num,
.accordion input:hover ~ .atab-title,
.accordion input:checked ~ .atab-num,
.accordion input:checked ~ .atab-title {
  color: #3b3baf;
}

.accordion input:checked ~ .atab-content,
.accordion input:checked ~ .t-vline {
  display: block;
}

.atab-content {
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}

.atab-content figure {
  float: right;
  margin: 0 25px 20px 25px;
}

.f-img {
  width: 400px;
}

.f-caption {
  text-align: center;
  color: #6d6d6d;
}

.atab-content p {
  font-size: 30px;
}

/* ==========================
 * END QUOTE
 * ========================== */
#end-quote {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 300px 0;
}

#end-quote div:first-child {
  grid-column: 2 / 3;
}

#end-quote h2 {
  text-align: center;
  font-size: 4em;
  font-weight: 300;
}

#end-quote h3 {
  margin-top: 30px;
  text-align: right;
  font-size: 3em;
  font-weight: 500;
}

/* ==========================
 * FOOTER
 * ========================== */
footer {
  padding: 20px 0;
  background: #242424;
}

footer p {
  color: #fff;
  text-align: center;
}

footer a {
  color: #ecf849;
  text-decoration: none;
}

/* ==========================
 * RESPONSIVE DESIGN
 * ========================== */

/* Medium devices (landscape tablets, 1200px and down) */
@media only screen and (max-width: 1200px) {
  /* COVER */
  #cover > div {
    grid-column: 1 / -1;
    margin: 20px;
    z-index: 1;
  }

  #c-quote,
  #c-headline {
    padding: 0 100px;
  }

  /* BACKGROUND DESIGN */
  #bg-name {
    top: 2500px;
    left: -180px;
    font-size: 150px;
  }

  #bg-x {
    top: 2000px;
  }

  /* CONTENT */
  #content {
    grid-template-columns: 1fr 300px 1fr 1fr 3fr 1fr;
  }

  .tab-item {
    font-size: 1.6em;
  }

  .tab-content {
    padding-right: 50px;
    font-size: 1em;
  }

  /* TIMELINE */
  .atab-title {
    grid-column: 2 / -1;
  }

  .f-img {
    width: 300px;
  }

  .f-caption {
    font-size: 0.8em;
  }

  .atab-content p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1100px) {
  /* BACKGROUND */
  #bg-name {
    top: 2300px;
    left: 20px;
    font-size: 80px;
  }

  /* CONTENT */
  #content {
    grid-template-rows: 200px 550px repeat(3, 100px) 600px;
    grid-gap: 100px;
  }

  #about-menu {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .a-tabs {
    display: flex;
    justify-content: space-evenly;
  }

  .a-tabs > li {
    transform: none;
  }

  .a-tabs a {
    font-size: 2em;
  }

  #about-content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin-top: -150px;
    padding-left: 150px;
  }

  #title-entrepreneur,
  #title-designer,
  #title-inventor,
  #title-inv-desc {
    grid-column: 1 / -1;
    text-align: center;
  }

  #title-inventor {
    padding-left: 0;
  }

  #title-inv-desc {
    margin-top: -50px;
    padding: 0 50px;
  }

  /* END QUOTE */
  #end-quote h2 {
    font-size: 2.5em;
  }

  #end-quote h3 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 1000px) {
  /* COVER */
  #c-quote > .fa-quote-left {
    font-size: 3em;
  }

  /* CONTENT */
  #bg-item {
    display: none;
  }

  .a-tabs a {
    font-size: 1.8em;
  }

  /* TIMELINE */
  #timeline {
    grid-template-columns: 0.5fr 8fr 1fr 1fr;
  }

  .atab-content figure {
    float: none;
  }

  .f-img {
    margin-top: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 780px and down) */
@media only screen and (max-width: 780px) {
  /* COVER */
  #c-quote,
  #c-headline {
    padding: 0 20px;
  }

  /* CONTENT */
  #content {
    grid-template-columns: none;
    grid-template-rows: 400px 550px repeat(3, 100px) 600px 200px;
    grid-gap: 50px;
  }

  .a-tabs {
    display: block;
    text-align: center;
  }

  #about-content {
    padding-left: 50px;
  }

  #about-content > div {
    max-width: 500px;
    min-height: 550px;
  }

  /* TITLE JOBS */
  #title-entrepreneur,
  #title-designer,
  #title-inventor {
    font-size: 2.5em;
  }

  #title-inv-desc > p {
    font-size: 1.5em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* COVER */
  #cover {
    grid-template-rows: none;
  }

  #c-quote {
    font-size: 10px;
  }

  /* CONTENT */
  #about-content > div {
    max-width: 350px;
  }

  .tab-item {
    font-size: 25px;
  }

  .tab-content {
    padding-left: 10px;
    font-size: 20px;
  }

  /* TITLE JOBS */
  #title-entrepreneur,
  #title-designer,
  #title-inventor {
    font-size: 2.3em;
  }

  /* TIMELINE */
  .f-img {
    width: 300px;
  }
}

/* Super Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 420px) {
  .btn {
    font-size: 13px;
    padding: 5px 10px;
  }

  /* CONTENT */
  #about-content > div {
    max-width: 300px;
  }

  .tab-item {
    font-size: 20px;
  }

  .tab-content {
    font-size: 15px;
  }

  /* TITLE JOBS */
  #title-entrepreneur,
  #title-designer,
  #title-inventor {
    font-size: 1.8em;
  }

  #title-inv-desc > p {
    font-size: 1.3em;
  }

  #title-inv-desc {
    margin-bottom: 500px;
  }

  /* TIMELINE */
  .accordion input:checked ~ .t-vline {
    display: none;
  }

  .atab-content {
    grid-column: 1 / -1;
  }

  .atab-num,
  .atab-title {
    font-size: 25px;
  }

  .atab-title {
    padding-top: 1px;
  }

  .f-img {
    width: 250px;
  }

  .atab-content p {
    font-size: 20px;
  }

  /* END QUOTE */
  #end-quote h2 {
    font-size: 25px;
  }

  #end-quote h3 {
    font-size: 20px;
  }
}
